* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  scroll-behavior: smooth;
}
/* navigation */
nav {
  background-color: #221313;
  width: 100%;
  height: 5em;
}
nav a {
  text-decoration: none;
  color: beige;
}
header ul {
  float: right;
}
header ul li {
  float: left;
  list-style: none;
  padding: 10px;
  margin-top: 20px;
  margin-right: 15px;
  border: 1px solid;
  border-radius: 10px;
}

header ul li:hover {
  background-image: linear-gradient(
    to right,
    #870000 0%,
    #190a05 51%,
    #870000 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.logo {
  padding: 15px;
  margin-top: 8px;
  float: left;
  text-align: center;
  margin-left: 23px;
  font-size: 30px;
  font-weight: bold;
}
/* frist main part */
.container {
  background: rgb(105, 21, 21);
  background: linear-gradient(
    0deg,
    rgba(105, 21, 21, 1) 0%,
    rgba(34, 19, 19, 1) 100%
  );
  height: 500px;
  display: flex;
  flex-direction: row;
}
.img {
  width: 50%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.about {
  width: 50%;
  float: left;
  color: white;
  margin-top: 150px;
  margin-left: 50px;
}

#image {
  width: 270px;
  height: 280px;
  border-radius: 70%;
}

.cont {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 3px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgb(246, 246, 246),
    rgb(66, 58, 58),
    white
  );
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
.about-me {
  background: rgb(34, 19, 19);
  background: linear-gradient(
    0deg,
    rgba(34, 19, 19, 0.99) 0%,
    rgba(105, 21, 21, 1) 100%
  );
  width: 100%;
  height: 200px;
}
.about-me h3 {
  color: rgb(237, 224, 207);
  text-align: center;
  padding-top: 20px;
  text-decoration: underline;
  font-size: 30px;
}
.about-me p {
  color: antiquewhite;
  text-align: justify;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 10px;
  line-height: 30px;
}
.main-part {
  width: 100%;
  height: 1000px;
  background: rgb(60, 45, 45);
  background: linear-gradient(
    0deg,
    rgba(60, 45, 45, 1) 0%,
    rgba(18, 8, 8, 1) 100%
  );
}
.main-part h1 {
  color: antiquewhite;
  text-align: center;
  text-decoration: underline;
  padding-top: 20px;
}

.skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box {
  width: 300px;
  height: 300px;
  background-color: darkred;
  margin: 50px;
  padding: 15px;
  border-radius: 10px;
  transition: all 0.5s;
}
.box:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#b-heading {
  text-align: center;
  color: antiquewhite;
  font-size: 20px;
}

#para {
  text-align: justify;
  padding-top: 15px;
  color: antiquewhite;
  line-height: 30px;
}

/* form */
.form {
  display: flex;
  background-color: aliceblue;
  width: 300px;
  height: 400px;
  margin-left: 332px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin-top: 65px;
  float: left;
}
.form h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
}
#form-element {
  border-radius: 8px;
  text-align: center;
  border-color: black;
}
#element {
  border-radius: 8px;
  text-align: center;
  border: 2px solid black;
}
#btn {
  background-color: darkred;
  color: antiquewhite;
  margin-left: 45px;
  padding: 5px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

/* social icons */
.social-icons {
  float: right;
  margin-top: 50px;
  margin-top: 171px;
  margin-right: 236px;
  transition: all 0.5s;
}

.social-icons h3 {
  color: antiquewhite;
  padding: 30px;
  font-size: 26px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
}
.social-icons a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.fa-instagram {
  background: #125688;
  color: antiquewhite;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-github {
  background: #dadee0;
  color: rgb(4, 4, 4);
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 10px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50px;
}

.last {
  width: 100%;
  height: 20px;
  background-color: #100303;
}

#arrow {
  width: 50px;
  height: 50px;
  float: right;
  margin-right: 43px;
  margin-top: -50px;
}

/* footer */
footer {
  width: 100%;
  background-color: #100303;
  height: 50px;
  text-align: center;
}

footer h3 {
  color: antiquewhite;
  padding-top: 10px;
}
